In [195]:
import json
import requests
import pandas as pd
import numpy as np

In [10]:
url_menshoes = 'https://bck.hermes.com/product?urlParams=fh_view_size=36%26country=uk%26fh_location=--%252Fcategories%253C%257Bmenshoes%257D&locale=uk_en&category=MENSHOES&sort=relevance&offset=36'

In [11]:
results_menshoes = requests.get(url_menshoes).json()

In [65]:
results_menshoes.keys()

dict_keys(['total', 'products', 'filtersGroup', 'editos', 'alternatives', 'redirectionUrl', 'url'])

In [16]:
menshoes_df = pd.json_normalize(results)
menshoes_productsdf = pd.json_normalize(results['products'])
menshoes_filtersGroupdf = pd.json_normalize(results['filtersGroup'])
menshoes_editosdf = pd.json_normalize(results['editos'])
menshoes_alternativesdf = pd.json_normalize(results['alternatives'])
menshoes_df

,total,products,filtersGroup,editos,redirectionUrl,url
0,155,"[{'sku': 'H192571ZHS2395', 'title': 'Izmir san...","[{'name': 'Category', 'presentation': 'list', ...","[{'title': 'H Deco rouge set of 2 mugs', 'chil...",,fh_view_size=36&country=uk&fh_location=--%2Fca...

In [407]:
mens_shoes_color_rank = menshoes_productsdf['sku'].groupby(menshoes_productsdf['avgColor']).size().reset_index().sort_values(by='sku',ascending=False)
mens_shoes_color_rank.rename(columns={'sku':'count', 'avgColor':'color'},inplace=True)
mens_shoes_color_rank

             color  count
1            black     10
3            brown      9
2             blue      6
4             grey      6
0  beige / natural      3
5            white      2

In [408]:
menshoes_productsdf[['title','price']].groupby(['title']).mean().sort_values(by='price',ascending=False)

                    price
title
Neo ankle boot       1380
Vassili ankle boot    990
Valois ankle boot     930
Tenor loafer          865
Saga loafer           850
Rebus sneaker         820
Monterey loafer       810
Valmy loafer          800
Trail sneaker         800
Kennedy loafer        780
Varennes loafer       780
Vitesse sneaker       770
Alessandro loafer     710
Volte sneaker         710
Ancora loafer         680
Partner sneaker       660
Velvet sneaker        640
Azur sneaker          620
Izmir sandal          565

In [385]:
menshoes_productsdf.loc[(menshoes_productsdf['title'] == 'Izmir sandal')]

,sku,title,productCode,perso_product_type,assets,moreColors,size,massVolume,avgColor,departmentCode,...,divisionCode,price,url,slug,hasStock,hasStockRetail,hasStockOrHasStockRetail,personalize,stock.ecom,stock.retail
0,H192571ZHS2395,Izmir sandal,Z862,None,[{'url': '//assets.hermes.com/is/image/hermesp...,False,39.5,None,grey,Z,...,02,550,/product/izmir-sandal-H192571ZHS2395,izmir-sandal,True,False,False,False,True,False
1,H152415ZH06395,Izmir sandal,Z862,None,[{'url': '//assets.hermes.com/is/image/hermesp...,False,39.5,None,black,Z,...,02,530,/product/izmir-sandal-H152415ZH06395,izmir-sandal,True,False,False,False,True,False
2,H201488ZH11400,Izmir sandal,Z862,None,[{'url': '//assets.hermes.com/is/image/hermesp...,False,40,None,black,Z,...,02,570,/product/izmir-sandal-H201488ZH11400,izmir-sandal,True,False,False,False,True,False
3,H201486ZH76400,Izmir sandal,Z862,None,[{'url': '//assets.hermes.com/is/image/hermesp...,False,40,None,blue,Z,...,02,610,/product/izmir-sandal-H201486ZH76400,izmir-sandal,True,False,False,False,True,False

In [231]:
pd.json_normalize(menshoes_productsdf.assets[0]).to_csv('out.csv')

In [292]:
series([4.5, 7.2, -5.3, 3.6])

NameError: name 'series' is not defined

In [232]:
import os

In [234]:
os.getcwd()

'C:\\Users\\lukas\\Documents\\Ironhack\\01_GitHub\\ironhack_websrape_w3'

In [ ]:
import time
df_final = pd.DataFrame()

for i in range(7):
    url_menshoes = f'https://bck.hermes.com/product?urlParams=fh_view_size=36%26country=uk%26fh_location=--%252Fcategories%253C%257Bmenshoes%257D&locale=uk_en&category=MENSHOES&sort=relevance&offset=36'
    results = requests.get(url, headers=headers).json()
    df = pd.json_normalize(results['articles'])
    df_final = df_final.append(df)
    time.sleep(2)
    print(i)
    print(df_final.shape)